name: Integration Test

on:
  workflow_dispatch: {}
  push:
    branches:
    - main
    paths:
    - "_test/demo-package/**"
    - ".github/workflows/_internal-integration.yaml"
    - ".github/workflows/integration.yaml"
    - "supported-version/**"
    - "!(**/*.md)"
  pull_request:
    branches:
    - main
    paths:
    - "_test/demo-package/**"
    - ".github/workflows/_internal-integration.yaml"
    - ".github/workflows/integration.yaml"
    - "supported-version/**"
    - "!(**/*.md)"

jobs:
  compute_matrix:
      runs-on: ubuntu-latest
      outputs:
        matrix: ${{ steps.supported-version.outputs.matrix }}
      steps:
        - uses: actions/checkout@v3
        - uses: ./supported-version
          with:
            kind: all
          id: supported-version
        - run: echo ${{ steps.supported-version.outputs.matrix }}
  integration-workflow:
    needs: compute_matrix
    uses: ./.github/workflows/integration.yaml
    with:
      package_name: graycore/magento2-demo-package
      source_folder: $GITHUB_WORKSPACE/_test/demo-package
      matrix: ${{ needs.compute_matrix.outputs.matrix }}
      test_command: ../../../vendor/bin/phpunit ../../../vendor/graycore/magento2-demo-package/Test/Integration
