name: Coding Standard

on:
  push:
    branches:
    - main
    paths:
    - "_test/demo-package/**"
    - ".github/workflows/_internal-coding-standard.yaml"
    - "coding-standard/**"
    - "!(**/*.md)"
  pull_request:
    branches:
    - main
    paths:
    - "_test/demo-package/**"
    - ".github/workflows/_internal-coding-standard.yaml"
    - "coding-standard/**"
    - "!(**/*.md)"
  workflow_dispatch:
    inputs:
      version:
        type: string
        default: '*'
        description: The version of the coding standard to use.
        required: false
      path:
        type: string
        default: '_test/demo-package'
        description: Path to run the coding standard on.
        required: true

jobs:
  compute_matrix:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.supported-version.outputs.matrix }}
    steps:
      - uses: actions/checkout@v3
      - uses: ./supported-version
        with:
          kind: all
        id: supported-version
      - run: echo ${{ steps.supported-version.outputs.matrix }}

  coding-standard:
    needs: compute_matrix
    strategy:
      matrix: ${{ fromJSON(needs.compute_matrix.outputs.matrix) }}
      fail-fast: false
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: './coding-standard'
        with:
          version: ${{ github.event.inputs.version || '*' }}
          path: ${{ github.event.inputs.path || '_test/demo-package' }}
          composer_version: ${{ matrix.composer }}
          php_version: ${{ matrix.php }}